.container {
   width: 60%;
   margin: -2% auto;
}

.containerItems {
   display: grid;
   grid-template-columns: 1fr auto;
}

.navigationContainer {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.navigationContainer .eachLink {
   text-decoration: none;
   margin-right: 20px;
   text-transform: uppercase;
   font-size: 14px;
   font-family: sans-serif;
   color: #000;
}

.addCart {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.cartIcon {
   font-size: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cartText {
   margin-left: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cartText p {
   font-size: 14px;
   text-transform: uppercase;
   font-family: sans-serif;
}

.cartText p:nth-child(2) {
   margin-left: 4px;
}



@media (max-width: 700px) {
   .container {
      width: 100%;
      display: none;
   }

}