.container {
   width: 70%;
   margin: 0 auto;
}

.containerItems {
   display: grid;
   grid-template-columns: 1fr auto 1fr;
}

.companyName {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.mobileNavigationContainer {
   display: none;
}

.companyName h1 {
   font-size: 20px;
   font-family: sans-serif;
   text-transform: uppercase;
}

.navigationContainer {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-top: 5%;
}

.eachLink {
   text-decoration: none;
   margin-left: 10px;
   text-transform: uppercase;
   font-family: sans-serif;
   font-size: 13px;
   font-weight: 700;
   color: #000;
}

.eachLink:nth-child(1) {
   color: blue;
}



@media (max-width: 700px) {
   .container {
      width: 100%;
      margin: 0;
      margin-top: 5%;
   }

   .containerItems {
      grid-template-columns: 1fr auto;
   }

   .companyName {
      width: 100%;
   }

   .companyName h1 {
      width: 100%;
      font-size: 15px;
   }

   .navigationContainer {
      display: none;
   }



   .mobileNavigationContainer {
      cursor: pointer;
      display: block;
   }

   .mobileNavigationLinks {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 200px;
      background-color: #aeaeae;
      transition: left 0.9s ease;
      z-index: 1;
   }

   .mobileNavigationLinks .eachLink {
      display: block;
      padding: 15px;
      color: black;
      text-decoration: none;
   }


   .mobileNavigationLinks.active {
      left: 0;
   }

}