.container {
   width: 60%;
   height: 100%;
   margin: 5% auto;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
}

.containerHeader h1 {
   font-size: 20px;
   font-family: sans-serif;
   color: rgb(158, 211, 158);
}

.containerItems {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.item {
   width: 300px;
   height: 300px;
   border: 1px solid rgb(158, 211, 158);
}

.itemImage {
   display: flex;
   justify-content: center;
   align-items: center;
}

.itemImg {
   width: 200px;
   height: 200px;
}

.itemText {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20%;
}


.modalOverlay {
   position: fixed;
   padding: 12px;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background: rgb(158, 211, 158);
   display: flex;
   justify-content: center;
   align-items: center;
}

.modalContent {
   max-width: 100%;
   max-height: 100%;
}

.modalOverlay button {
   padding: 10px;
}

.modalImage {
   width: 100%;
   height: 100%;
   object-fit: fill;
}

.pagination{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10%;
   margin-bottom: 5%;
}

.pagination button{
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
}

@media (max-width: 700px) {

   .container {
      width: 100%;
   }

   .containerItems {
      display: grid;
      grid-template-columns: auto;
      gap: 30px;
   }

   .containerHeader {
      margin-bottom: 20px;
   }

   .item {
      margin: 0 auto;
      width: 250px;
      height: 250px;
   }
}