.container {
   width: 60%;
   margin: 10% auto;
   background-color: #fff;
}

.containerItems {
   background-color: #fff;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
}

.containerHeader h1{
   font-size: 23px;
}

.servicesText {
   display: flex;
   justify-content: center;
   align-items: center;
}

.boxes {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 40px;
}

.box {
   width: 100%;
}

.boxHeader{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10px;
}

.boxHeader h1{
   font-size: 20px;
   font-family: sans-serif;
   font-weight: 100;
}

.boxText{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.boxText p{
   font-size: 15px;
   letter-spacing: 0.5px;
   font-weight: 0;
   font-family: sans-serif;
}

@media (max-width: 700px) {
   .container{
      width: 100%;
   }

   .containerHeader h1{
      font-size: 20px;
      text-align: center;
   }

   .boxes{
      grid-template-columns: auto;
   }

   .box{
      width: 70%;
      margin: 0 auto;
   }

   .boxHeader h1{
      font-size: 15px;
      text-align: center;
   }

   .boxText p{
      font-size: 14px;
      text-align: center;
   }
}