.container {
   width: 100%;
   height: 100%;
   margin-top: 3%;
}

.containerHeader {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(158, 211, 158);
   padding: 10px;
}

.containerHeader h1 {
   font-size: 20px;
   font-family: sans-serif;
   letter-spacing: 0.5px;
}

.cateContainer {
   width: 70%;
   margin: 0 auto;
   background-color: #f2f2f2;
   padding: 20px;
   margin-top: 3%;
}

.boxes {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap: 30px;
}

.box {
   width: 100%;
   height: 100%;
   padding: 10px;
   border: 1px solid rgb(158, 211, 158);
   border-radius: 10px;
}

.cateImage {
   display: flex;
   justify-content: center;
   align-items: center;
}

.image {
   width: 200px;
   height: 200px;
}

.catName{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
}

.catName h1{
   font-size: 15px;

}

@media (max-width: 700px) {
   .container{
     width: 100%;
   }

   .cateContainer{
      width: 100%;
      padding: 0;
   }

   .boxes{
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      padding: 10px;
   }

   .box{
      width: 160px;
   }

   .image{
      width: 100px;
      height: 100px;
   }
  }