.container {
   width: 70%;
   height: 100%;
   margin: 12% auto;
}

.containerItems {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.showcaseText{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.firstText{
   display: flex;
   justify-content: flex-start;
}

.thirdText{
   width: 100%;
}

.thirdText p{
   line-height: 26px;
}

.callToAction{
   margin-top: 2%;
}

.callToAction button:nth-child(1){
   width: 150px;
   height: 40px;
   margin-right: 10px;
   border-radius: 10px;
   border: none;
   background-color: black;
   color: #fff;
}
.callToAction button:nth-child(2){
   width: 150px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}


.showImage{
   width: 400px;
   height: 400px;
}

/* Add these styles to your existing stylesheet (showcase.module.css) */

.imageAnimationContainer {
   display: flex;
   overflow: hidden; /* Hide the overflow to make sure only one image is visible at a time */
 }
 
 .image {
   flex: 0 0 100%; /* Make each image take the full width of the container */
   transition: transform 0.5s ease-in-out; /* Add a transition for smooth sliding */
 }
 




@media (max-width: 700px) {
   .container{
      width: 100%;
   }

   .containerItems{
      grid-template-columns: auto;
   }

   .secondText{
      width: 100%;
   }
   .secondText h1{
      font-size: 20px;
   }

   .thirdText{
      width: 100%;
   }
   .thirdText p{
      font-size: 15px;
   }

   .imageAnimationContainer{
      display: flex;
      justify-content: center;
      align-items: center;
   }

   .showImage{
      width: 200px;
      height: 200px;
   }
  
}