.container {
   width: 100%;
   height: 100%;
   margin-top: 1%;
}

.containerItems {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.showcaseText{
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
}

.firstText{
   display: flex;
   justify-content: flex-start;
}

.thirdText{
   width: 75%;
}

.thirdText p{
   line-height: 26px;
}

.callToAction{
   margin-top: 2%;
}

.callToAction button:nth-child(1){
   width: 150px;
   height: 40px;
   margin-right: 10px;
   border-radius: 10px;
   border: none;
   background-color: black;
   color: #fff;
}
.callToAction button:nth-child(2){
   width: 150px;
   height: 40px;
   border-radius: 10px;
   border: 1px solid #aeaeae;
}

.imageAnimationContainer{
  width: auto;
  height: 70vh;
}
.images {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 4%;
}

.image {
   width: 100px;
   height: auto;
   animation: rotate 15s linear infinite;
}

.fadeInOut {
   animation: fadeInOut 5s linear infinite;
}



@keyframes rotate {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes fadeInOut {

   0%,
   30% {
      opacity: 0;
      transform: scale(0.5);
   }

   5%,
   95% {
      opacity: 1;
      transform: scale(1);
   }

   100% {
      opacity: 0;
      transform: scale(0.5);
   }
}


@media (max-width: 700px) {
   .container{
      width: 160%;
      margin-top: 10%;
   }

   .containerItems{
      grid-template-columns: 1fr;
   }

   .showcaseText{
      width: 110%;
   }

   .thirdText{
      width: 100%;
   }

   .imageAnimationContainer{
      width: 110%;
   }

   .images{
      margin-top: 0;
      margin-left: 0%;
   }

   .image{
      width: 100%;
   }
}